<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bingstar.bingmall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>


    <!-- 如果要使用用户信息，在manifest中添加权限 -->

    <uses-permission android:name="hs.permission.user.info"/>
    <!-- 如果需要请求用户登录，在manifest中添加权限 -->
    <uses-permission android:name="hs.permission.user.login"/>
    <uses-permission android:name="hs.permission.user.token"/>

    <!-- 以下是测试环境所用  正式版本需要去掉 -->
    <!--========================================-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" /> &lt;!&ndash; 允许程序录制音频 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_LOGS" /> &lt;!&ndash; 获取logcat日志 &ndash;&gt;-->
    <!--========================================-->

    <!--<application-->
    <!--android:allowBackup="true"-->
    <!--android:icon="@mipmap/ic_launcher"-->
    <!--android:label="@string/app_name"-->
    <!--android:supportsRtl="true"-->
    <!--android:theme="@style/AppTheme">-->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".BingStarApp"
        android:theme="@style/AppTheme">  <!--正式版去掉theme属性-->

        <!-- bingHaier-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${BAIDUMAP_KEY}"/>
        <!-- 友盟统计
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>-->

        <!--海尔APPID配置 -->
        <meta-data
            android:name="X_COOK_APP_ID"
            android:value="MB-BSJ-0000"/>

        <!--百度统计  -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="${BAIDUSTAT_KEY}"/> <!-- abcd1234-->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="${BAIDUSTAT_CHANNEL}"/>

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true"/>
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START"/>
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false"/>
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true"/>
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true"/>
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true"/>


        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>
                <action android:name="com.bingstar.bingmall.SUPPORT"/>
                <action android:name="com.bingstar.bingmall.DISCOUNTCARD"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>-->

            <intent-filter>
                <action android:name="com.bingstar.bingmall.SUPPORT"/>
                <action android:name="com.bingstar.bingmall.DISCOUNTCARD"/>
                <action android:name="com.bingstar.bingmall.MAIN"/>
                <action android:name="com.bingstar.bingmallHair.MAIN"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity android:name=".base.WebActivity"/>

        <activity android:name=".sdk.pay.haier.HaierPayActivity"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

        </service>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">

        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <receiver android:name=".launcher.UnlockScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>